body {
    width: 100%;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    line-height: 32px;
    background-image: url(../images/hex.png);
    background-repeat: repeat;
}

.jumbotron {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff; 
    background-color: #4aaaa5;
    margin-bottom: 0;
    }

.display-4 {
    text-align: center;
}